[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "contoso"]
	path = contoso
	url = https://codeberg.org/usrbinr/contoso
[submodule "motherduck"]
	path = motherduck
	url = https://github.com/usrbinr/motherduck
[submodule "sqlm"]
	path = sqlm
	url = https://github.com/usrbinr/sqlm
[submodule "ti"]
	path = ti
	url = https://codeberg.org/usrbinr/ti
